<h1>
  <%= @table.name %>
</h1>

<%= form_tag(add_item_complete_table_path(@table)) do %>
  <%= @table.key_column_name %>: 
  <%= text_field(:item, :name) %></br>
  <%= hidden_field_tag 'item[table_id]', "#{@table.id}" %>
  <% @table.columns.each do |column| %>
    <%= column.name %>: 
    <%= text_field(:column, "#{column.id}") %>
    <br>
  <% end %>
  <%= submit_tag %>
<% end %>

