<p id="notice"><%= notice %></p>

<p>
<strong>Name:</strong>
<%= @table.name %>
</p>

<p>
<table border="1">
  <th>
    <%= @table.key_column_name %>
  </th>
  <% @columns.each do |column| %>
    <th>
      <%= link_to column.name, edit_column_path(column) %>
    </th>
  <% end %>
  <% @table.items.each do |item| %>
    <tr>
      <td>
        <%= link_to item.name, edit_item_path(item) %>
      </td>
      <% @columns.each do |column| %>
        <td>
          <%= @item_columns[item.id][column.id] %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
</p>

<%= link_to 'Add Column', add_column_table_path(@table) %>
<%= link_to 'Add Item', add_item_table_path(@table) %>
<%= link_to 'Edit', edit_table_path(@table) %> 
<%= link_to 'Back', tables_path %>
