<p id="notice"><%= notice %></p>

<p>
  <strong>Table:</strong>
  <%= @item_column.table_id %>
</p>

<p>
  <strong>Item:</strong>
  <%= @item_column.item_id %>
</p>

<p>
  <strong>Column:</strong>
  <%= @item_column.column_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @item_column.value %>
</p>

<%= link_to 'Edit', edit_item_column_path(@item_column) %> |
<%= link_to 'Back', item_columns_path %>
